<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ToDo List</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <h3 class="text-muted">Items To-Do</h3>
      </div>
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
      <div id="signupSuccess" class="alert alert-success" style="display:none">
        <p id="signupSuccessText">Added!</p>
      </div>
      <div id="signupDuplicate" class="alert alert-success" style="display:none">
        <p id="signupDuplicateText">Item already exists.</p>
      </div>
      <div id="signupError" class="alert alert-info" style="display:none">
        <p id="signupErrorText">Error adding item.</p>
      </div>
      <div class="jumbotron">
        <!-- <h1>Add your To-Do item...</h1>
        <p class="lead">You can add an item, due-date, and internet link</p>
        <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#signupModal">Add</a></p> -->
        <form id="signupForm" role="form">
          <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
          <div class="form-group">
            <label for="item">Item Name</label>
            <input type="text" class="form-control" id="item" name="item" placeholder="Walk dog">
          </div>
          <div class="form-group">
            <label for="date">Due Date</label>
            <input type="email" class="form-control" id="date" name="date" placeholder="3 PM">
          </div>
          <div class="form-group">
           <label for="link">Web Link?</label>
           <input type="text" class="form-control" id="link" name="link" placeholder="google.com">
         </div>
        </form>
        <button id="signup" type="button" class="btn btn-primary">Add</button>
      </div>


      <div class="footer">
        <p>&copy; Donovan Troshynski 2018</p>
      </div>
      
      <!-- Modal -->
       <!-- <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Add To-Do Item</h4>
             </div>
             <div class="modal-body">
               <form id="signupForm" role="form">
                 <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
                 <div class="form-group">
                   <label for="name">Item Name</label>
                   <input type="text" class="form-control" id="item" name="item" placeholder="Walk dog">
                 </div>
                 <div class="form-group">
                   <label for="email">Due Date</label>
                   <input type="email" class="form-control" id="date" name="date" placeholder="3 PM">
                 </div>
                 <div class="form-group">
                  <label for="name">Web Link?</label>
                  <input type="text" class="form-control" id="link" name="link" placeholder="google.com">
                </div>
               </form>
             </div>
             <div class="modal-footer">
               <button id="signup" type="button" class="btn btn-primary">Add</button>
             </div>
           </div>
         </div>
       </div> -->

       <button id="getToDos" type="button" class="btn btn-primary">Get To Dos</button>
    </div> <!-- /container -->

    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>""></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>""></script>
    <script src="scan.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#signup").click(function() {
        console.log('signup button clicked');
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      });
      $("#getToDos").click(function() {
        console.log('scanning to do table...');
      });
    })
    </script>
  </body>
</html>
